{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.1"
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-decorators-legacy"
  ]
}
